<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brave.erp.base.goods.service.mapper.BaseGoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.brave.erp.base.goods.service.domain.BaseGoodsCategory">
    <!--@mbg.generated-->
    <!--@Table base_goods_category-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="status_code" jdbcType="INTEGER" property="statusCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_by" jdbcType="VARCHAR" property="addBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, parent_id, shop_id, status_code, `name`, icon, sort_num, add_time, add_by, 
    update_time, update_by, is_delete, `desc`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from base_goods_category
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByShopIdAndName" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from base_goods_category
    where status_code = 1
    and shop_id = #{shopId,jdbcType=BIGINT}
    and name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="countByShopIdAndName" resultType="java.lang.Integer">
    <!--@mbg.generated-->
    select
    count(id)
    from base_goods_category
    where status_code = 1
    and shop_id = #{shopId,jdbcType=BIGINT}
    and name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from base_goods_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id"
          parameterType="com.brave.erp.base.goods.service.domain.BaseGoodsCategory"
          useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into base_goods_category (code, parent_id, shop_id, 
      status_code, `name`, icon, 
      sort_num, add_time, add_by, 
      update_time, update_by, is_delete, 
      `desc`)
    values (#{code,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, 
      #{statusCode,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{sortNum,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{addBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{isDelete,jdbcType=BOOLEAN}, 
      #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.brave.erp.base.goods.service.domain.BaseGoodsCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into base_goods_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="statusCode != null">
        status_code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="sortNum != null">
        sort_num,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="addBy != null">
        add_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="statusCode != null">
        #{statusCode,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addBy != null">
        #{addBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.brave.erp.base.goods.service.domain.BaseGoodsCategory">
    <!--@mbg.generated-->
    update base_goods_category
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="statusCode != null">
        status_code = #{statusCode,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null">
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addBy != null">
        add_by = #{addBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.brave.erp.base.goods.service.domain.BaseGoodsCategory">
    <!--@mbg.generated-->
    update base_goods_category
    set code = #{code,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      shop_id = #{shopId,jdbcType=BIGINT},
      status_code = #{statusCode,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      sort_num = #{sortNum,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_by = #{addBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      `desc` = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into base_goods_category
    (code, parent_id, shop_id, status_code, `name`, icon, sort_num, add_time, add_by, 
      update_time, update_by, is_delete, `desc`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.code,jdbcType=VARCHAR}, #{item.parentId,jdbcType=BIGINT}, #{item.shopId,jdbcType=BIGINT}, 
        #{item.statusCode,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.icon,jdbcType=VARCHAR}, 
        #{item.sortNum,jdbcType=INTEGER}, #{item.addTime,jdbcType=TIMESTAMP}, #{item.addBy,jdbcType=VARCHAR}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.isDelete,jdbcType=BOOLEAN}, 
        #{item.desc,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>